html {

}

body {
	font: 13px Arial;
	line-height: 1.42857143;
}


ol, ul {
	list-style-position: outside;	
	margin-left: 1.25em;
	padding-left: 1.25em;
}

div.task {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.week {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
