html {

}

body {
	font: 13px Arial;
	line-height: 1.42857143;
	width: 75em;
	margin: 0 auto;
}


ol, ul {
	list-style-position: outside;	
	margin-left: 1.25em;
	padding-left: 1.25em;
}


/* Div Rules */
div.task {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.finishedtask {
	color: #A8A8A8;		
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.week {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}
/* End Div Rules */


li>a {
	text-decoration: none;
}
